input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
    
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    padding: 0%;
    margin: 0%;
    flex-direction: column;
    background-image: url(./1447060.jpg);
    background-size: cover;
}

.header{
    background-color: rgba(245, 245, 220, 0.8);
    flex: 1.5;
    display: flex;
    align-items: center;
}

.hero-container{
    padding: 0% 5%;
    width: 50%;
}

.hero-header{
    font-size: 24px;
}
.hero{
    font-weight: 600;
    color: rgb(231, 111, 81); 
    font-size: 58px;
}
.hero-text{
    font-size: 18px;
}


.main-form{
    
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}

#main-form{
    padding: 5%;
    background-color: rgba(241, 233, 198, 0.822);
    box-shadow: black;
    border-radius: 10px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.form-header{
    font-weight: 600;
    color: rgb(231, 111, 81); 
    font-size: 32px;
}

.inp{
    background-color: rgba(245, 245, 220, 0.9);
    padding: 1rem;
    border-radius: 5px;
    border: 0 black;
    transition: all ease 0.5s;
    color: black;
    font-size: large;
}

.inp:focus{
    outline: none;
    box-shadow: 5px 5px black;
    transform: scale(1.01);
}

#name {
    grid-column: span 2;
}
#father{
    grid-column: span 2;
}
#submit{
    grid-column: 2;
    padding: 1rem;
    border-radius: 5px;
    border: 0 black;
    transition: all ease 0.5s;
    background-color: rgb(231, 111, 81);;
    font-size: 20px;
    font-weight: 900;
}

#submit:hover{
    box-shadow: 5px 5px black;
    transform: scale(1.01);
}

.footer{
    background-color: rgba(223, 130, 64, 0.849);
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initial{
    display: none;
}